.App {
  text-align: center;
}

header{
  height: 80px;
  background-color: darkblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  color: white;
}

#header-words{
  font-weight: bold;
  font-size: 60px;
  display: flex;
}
#login{
  height: 50px;
}
#nba-logo{
  height: 70px;
}
footer{
  height: 7git stat0px;
  background-color: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  margin: 20px 0px;
}

#nba-logo-footer{
  height: 60px;
}

#team{
  text-align: center;
  color: black;
  font-weight: bold;
  text-decoration: underline;
  display: flex;
  justify-content: center;
}

#basketball-img{
  height: 40px;
  padding: 20px;
}
#player-name{
  display: flex;
}

#display-team{
  color: darkblue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}